/*Tiled background image set to the body */
body {
  background-image: url(images/fresh_snow.png);
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*Main wrapper set to hold all primary content*/
.main-wrapper {
  max-width: 960px;
  height: auto;
  background-color: white;
  margin: 1em auto;
  margin-bottom: 1em;
  overflow:hidden;
  border: 0px solid #000000;
}

/*Header styled to create a backdrop for logo image and crest
Ideally an ID should have been set to the header*/
header {
  color: white;
  background-color: #221e1f;
  margin-top: 0;
  padding: 0;
  height: auto;
}

/*Used for layouts, row will contain columns */
.row {
  max-width: 960px;
  margin: 0 auto;  
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/*Columns used to be attached to divs for page layout*/
.column {
  float: left;
  box-sizing: border-box;
  padding: 0 0.5rem;
}

/*Width 1-12 set in 8.333% increments for a 12 column fluid layout*/
.width-1 {
  width: 8.333%;
}

.width-2 {
  width: 16.666%;
}

.width-3 {
  width:25%;
}

.width-4 {
  width:33.333%;
}
       
.width-5 {
  width:41.66%;
}

.width-6 {
  width:50%;
}

.width-7 {
  width:58.333%;
}

.width-8 {
  width:66.666%;
}

.width-9 {
  width:75%;
}

.width-10 {
  width:83.333%;
}

.width-11 {
  width:91.666%;
}

.width-12 {
  width:100%;
  padding: 0;
}

/*Footer styled to create backdrop for footer elements, ideally should have created
an ID or class to style this*/
footer {
  color: white;
  background-color: #221e1f;
  margin-top: 0;
  text-align: center;
  height: auto;
  line-height: 30px;
}

/*Removed the margin off the P tags, like previously mentioned should have created a class*/
p {
  margin: 0 auto;
}

#title2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  text-align: center;
}

/*Bar containing course name for index page*/
.content-head {
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px #000000;
  border-top: solid 0px #000000;
}

/*main content class floated right of side nav column*/
.main-content {
  float: right;
  background-color: white;
}

/*side nav column created with differing colour for style purposes*/
.side-nav {
  background-color: #444444;
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

/*class for styling the side navigation ul*/
.topn {
  margin: 0 auto;
  padding: 0;
  background-color: #221e1f;
}

/*Styling for the splash-image on the index page*/
.splash-image {
  width: 100%;
  background-color: white;
}

/*Aquired from w3 schools for an animated carousel on index page*/
.w3-animate-fading{animation:fading 10s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}
@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

/*Styling for the top logo, correctly positions the logo in the header*/
.title {
  margin-top: 1.5em;
  padding-left: 2em;
  font-family: 'Lato', sans-serif;
  width: 88.33%;
  color: white;
  font-size: 20pt;
  text-align: left;
}

/*Styling for the crest, correctly positions the crest in the header*/
.crest {
  width: 65%;
  padding-bottom: 15px;
}

/*Styling of the column containing the crest*/
.crest-column {
  float: left;
  box-sizing: border-box;
  margin-top: 20px;  
}

/*Styling of the user input div*/
.user-input {
  font-family: 'Lato', sans-serif;
  background-color: #6b1a76;
  border-right: 0px solid #000000;
  border-left: 0px solid #000000;
  border-bottom: 0px solid #000000;
  padding: 10px;
  padding-bottom: 15px;
  margin: auto;
  color: white;
}

/*Styling of the input box on the index page*/
form {
  color: black;
  text-align: center;
}

/*Index content information left column contains a right border*/
#index-information1 {
  text-align: center;
  border-right: 1px solid #cccccc ;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Right index information not containing right border*/
#index-information2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.infobox {
  display:none;
}

.infobox.active {
  display:block;
}

.department {
  background-color: white; 
}

/*Staff name styling, attached to H element */
.sname {
  padding-top:6px;
  padding-bottom:6px;
  margin:0;
  padding-left: 0.5em;
  background-color: #6b1a76;
  color: white;
  font-family: 'Lato', sans-serif;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/*Hidden staff information*/
.expandinfo {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 10px;
}

/*The row containing the side nav and main content on the content pages degree & departments*/
.dept-main {
  height: auto;
  display: flex;
}

/*Styling of the staff portrait images*/
.portrait {
  width: auto;
  max-width: 80%;
  border: 1px solid #000000;
}

/*Row containing the degree information*/
.degree-content {
  display: flex;
  background-color: white;
  padding-bottom: 10px;
}

/*H element styled to indicate the page content title*/
.department-content {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

/*Row containing the index content*/
.index-content {
  display: flex;
  background-color: white;
  padding-bottom: 10px;
}
/*Right index information not containing right border*/
#index-information2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Row containing the staff member information*/
.staff {
  background-color: #e6e6e6;
  padding-right: 0;
  margin-top: 10px;  
}

/*Row containing the button*/
.button-row {
  padding: 0;
  margin: auto;
}

/*The last button row*/
#button-row-last {
  padding: 0;
  margin: auto;
  margin-bottom: 10px;
}

/*form styling on the index page*/
#form {
  width: 200px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: #221e1f;
  color: white;  
}

/*Submit styling on the index page*/
#submit {
  background-color: #221e1f; /* Green */
  border: 1px solid #ffffff;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;    
}

/*Static image shown when the carousel is not shown for mobile view*/
.staticimage {
  width: 100%;
}

/*Left column of the footer, containing author information*/
.f1 {
  color: white;
  background-color: #221e1f;
  margin-top: 0;
  text-align: center;
  height: auto;
  padding-top: 2px;
  font-size: 10pt;
}

/*Right column of the footer, containing links to external resources*/
.f2 {
  color: white;
  background-color: #221e1f;
  margin-top: 0;
  text-align: center;
  height: auto;
  padding-bottom: 2px;
}

/*Icon styling in the footer*/
.icon {
  color: white;
  text-decoration: none;
}

/*Icon styling to ensure that when visited the links stay the correct colour*/
.icon:visited {
  color: white;
  text-decoration: none;
}

/*hover action for the icons to increase usability*/
.icon:hover {
  color: #9a9a9a;
}

/*Styling on the staff image to ensure it is positioned correctly*/
.pimg {
  padding: 10px 0px 5px 15px;
}

/*Index page slideshow styling*/
.ss {
  border-bottom: 1px solid #221e1f;
}

/*H5 element shouldn't be styled, should have created an ID or class*/
h5 {
  color: #6b1a76;
  font-size: 14px;
  margin-top: 5px;
}

/*The class that will act as the modified text upon form submission on the index page*/
.modified-text {
  font-weight: bold;
  font-style: normal;
}

#first {
  color: white;
}

/*Staff information for the department page*/
.sinfo {
  color: #6b1a76; 
}

.sinfo2 {
  color: #6b1a76;
}

.sinfo2:hover {
  color: #000000;
}

.sinfo2:visited {
  color: #6b1a76;
  padding-bottom: 5px;
}

/*Staff info UL styled*/
.sinfoul {
  background-color: #e6e6e6;
  margin-bottom: 10px;
  margin-top: 5px;
}

/*H6 element styled, should have added ID or class*/
h6 {
  color: #6b1a76;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;  
}

/*Ensured the e-mail hyperlink remains the same colour as the rest of the text in the box*/
.email {
  color: black;
  text-decoration: none;
}

/*Added underline on hover to increase usability*/
.email:hover {
  color: black;
  text-decoration: underline;
}

/*The entire contents of the .comments class aligned left*/
.comments * {
  text-align:left; 
}

.comments label > span {
  display:block;
}

/*Font color, size, and weight added along with padding*/
.comments  {
  color:black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 0;
}

/*Comment li styled on degree page */
.comments li {
  list-style: none;
}

/*Comments UL styled on degree page to ensure the page doesn't become overencumbered with too many submissions*/
.comments ul {
  padding-left: 20px;
  padding-right: 20px;
}

/*Delete button on the comments section on degree page*/
.comments a.delete-comment-link {
  color: black; 
  font-size: 12px;
}

/*Hover on delete button for comments section on degree page*/
.comments a.delete-comment-link:hover {
  color: black; 
  text-decoration: underline;
}

/*Style of the comment itself on degree page*/
.comments p {
  border-bottom: 1px solid #dddddd;
  font-style: italic;
  color: #6a1f74;
  line-height: 20px;
  margin-bottom: 10px;
}

/*Padding set on the form*/
#comments-form {
  padding-left: 20px;
  padding-top: 20px;
}

#comments-list {
  margin: 0;
  border: 1px solid #eee5f7;
  padding: 20px;
}

/*H element styled for the page title*/
.ctitle {
  color: #6b1a76;
  text-align: left;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

/*Form styled for comments on degree page*/
.cinput {
  font-family: 'Lato', sans-serif;
  background-color: #dddddd;
}

/*Submit button styled on comments on degree page*/
#csubmit {
  background-color: #eee5f7;
  color: #6a1f74;
  border: 0;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

#csubmit:hover {
  background-color: #6a1f74;
  color: #eee5f7;
  border: 0;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

/*Clear form button styled on comments on degree page*/
#cclearf {
  background-color: #eee5f7;
  color: #6a1f74;
  border: 0;
  border-radius: 5px;
  font-size: 12px;
}

#cclearf:hover {
  background-color: #6a1f74;
  color: #eee5f7;
  border: 0;
  border-radius: 5px;
  font-size: 12px;
}

/*Required fields styled for the input boxes*/
.cspan {
  color: #6a1f74;
  font-size: 16px;
}

/*Left content styled for degree page*/
.degree-information1 {
  text-align: justify;
  border-right: 1px solid #cccccc ;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

/*Right content styled for degree page*/
.degree-information2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

/*Top right content styled for degree page*/
.degree-information3 {
  text-align:left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

/*Row containing the primary content on the department page*/
.department-content-info {
  background-color: white;
  padding-bottom: 10px;
}

.department-information1 {
  text-align: justify;
  border-right: 1px solid #cccccc ;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

/*Columns containing content for the department page*/
.department-information2 {
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.di1 {
  text-align: center;
}

.dii {
  padding-left: 40px;
}

/*Content headers*/
.ctitle2 {
  color: #6b1a76;
  background-color: #eee5f7;
  text-align: left;
  font-size:14px;
  padding: 10px; 
}

/*TH elements styled*/
.table-head {
  color: #6b1a76;
  background-color: #eee5f7;
  padding: 10px;
  text-align: left;
  width: 100px;
  border-bottom: 1px solid #dfd2ec;
  font-size: 14px;
}

/*TD elements styled*/
.table-d {
  color: #6b1a76;
  background-color: #fbf8fd;
  border-bottom: 1px solid #dfd2ec;
  padding: 10px;
  font-size: 14px;
}

/*Hover functionality added for style purposes*/
.table-d:hover {
  color: #6b1a76;
  background-color: #ffffff;
  border-bottom: 1px solid #dfd2ec;
  padding: 10px;
  font-size: 14px;
}

/*Column containing degree information table*/
#degree-info {
  border-collapse:collapse;
  margin: auto;
  margin-top: 15px;
}

/*Second elements within the table*/
.table-d2 {
  color: #6b1a76;
  background-color: #ffffff;
  border-bottom: 1px solid #dfd2ec;
  padding: 10px;
  font-size: 14px;
}

.table-d2:hover {
  color: #6b1a76;
  background-color: #fbf8fd;
  border-bottom: 1px solid #dfd2ec;
  padding: 10px;
  font-size: 14px;
}

/*Column containing degree statistics, 100% width for full page text*/
#degree-stats {
  width:100%;
}

/*Button styling for department page repeated multiple times, could have been condensed with classes*/
#btn1 {
  background-color: #221e1f; 
  border: 1.5px solid grey;
  border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  padding: 6px 1px 6px 1px;
  cursor: pointer;
}


btn1:hover {
  background-color: #221e1f;
  border: 1.5px solid grey;
  transition-duration: 0.4s;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

#btn2 {
  background-color: #221e1f; 
  border: 1.5px solid grey;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  padding: 6px 1px 6px 1px;
  cursor: pointer;
}

btn2:hover {
  background-color: #221e1f;
  border: 1.5px solid grey;
  transition-duration: 0.4s;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

#btn3 {
  background-color: #221e1f; 
  border: 1.5px solid grey;
  border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  padding: 6px 1px 6px 1px;
  cursor: pointer;
}

btn3:hover {
  background-color: #221e1f;
  border: 1.5px solid grey;
  transition-duration: 0.4s;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

#btn4 {
  background-color: #221e1f; 
  border: 1.5px solid grey;
  border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  padding: 6px 1px 6px 1px;
  cursor: pointer;
}

btn4:hover {
  background-color: #221e1f;
  border: 1.5px solid grey;
  transition-duration: 0.4s;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

#btn5 {
  background-color: #221e1f; 
  border: 1.5px solid grey;
  border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  padding: 6px 1px 6px 1px;
  cursor: pointer;
}

btn5:hover {
  background-color: #221e1f;
  border: 1.5px solid grey;
  transition-duration: 0.4s;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

/*Module bars, clickable bars that expand to show module information*/
.module-title {
  background-color: #eee5f7;
  color: #6b1a76;
  padding: 10px;
  margin-bottom: 0px;
}

/*Hover function to improve usability on the bars*/
.module-title:hover {
  transition: 0.5s;
  background-color: #6b1a76;
  color: #eee5f7;
  padding: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

/*Hidden information shown upon bar clicked*/
.m1c {
  display: none;
  margin: 0;
  background-color: #fbf8fd;
  border: 1px solid #eee5f7;
  padding: 10px;
  font-size: 13px;
}

/*Styled P elements to seperate information inside module content*/
.minfo {
  padding: 20px;
  padding-top: 10px;
  color: #6b1a76;
  font-size: 14px;
}

/*Year 1-2-3 styling*/
.ctitle3 {
  color: #6b1a76;
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

/*Row containing all module information*/
.degree-information4 { 
  text-align: justify;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

/*Year 2 border added to break up content*/
#yr2 {
  border-top: 1px solid #eee5f7;
  padding-top: 10px;
}

/*Year 1 border added to break up content*/
#yr1 {
  border-top: 1px solid #eee5f7;
  padding-top: 10px;
}

/*Year 3 border added to break up content*/
#yr3 {
  border-top: 1px solid #eee5f7;
  padding-top: 10px;
}

/*Last visible information on degree page*/
#mend {
  border-bottom: 1px solid #eee5f7;
  padding-bottom: 10px;
}

/*Button that collapses all open modules */
#collapse-modules {
  background-color: #eee5f7;
  color:  #6b1a76;
  border: 1px solid #6b1a76;
}

/*Hover functionality for that button*/
#collapse-modules:hover {
  background-color: #6b1a76;
  color:  #eee5f7;
}

/*Side navigation styling*/
.sn {
  display: inline-block;
  float: left;
  margin: 0px auto;
  height: auto;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  background-color: #444444;
  color: white;
  text-decoration: none;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid grey;
  box-sizing: border-box; 
}

/*Side navigation hover styling*/
.sn:hover {
  display: inline-block;
  float: left;
  margin: 0px auto;
  height: auto;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  background-color: #444444;
  color: white;
  text-decoration: underline;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid grey;
  box-sizing: border-box; 
}

/*Side navigation li styling*/
.content-nav {
  display: inline-block;
  float: left;
  margin: 0px auto;
  height: auto;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  background-color: #444444;
  color: white;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;    
}

/*Top navigation UL styling*/
.index-navigation-ul {
  background-color: #221e1f;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  height: auto;
}

/*Top navigation LI styling*/
.index-navigation-li {
  float: left;
  background-color: #221e1f; 
  color: white;
  line-height: 30px;
}

/*Top navigation Hyperlink styling*/
.index-navigation-a {
  display: block;
  color: white;
  text-decoration: none;
  line-height: 30px;
}

/*Top navigation Hyperlink hover styling*/
.index-navigation-a:hover {
  display: block;
  color: white;
  text-decoration: underline;
}

/*Top navigation Hyperlink visited styling*/
.index-navigation-a:visited {
  display: block;
  color: white;
  text-decoration: none;
}

/*Parsley validation styling, gained from "http://parsleyjs.org/src/parsley.css"*/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid red;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  
}

.parsley-errors-list.filled {
  opacity: 1;
  padding-left: 0;
  padding: 5px;
  font-weight: bold;
  color: #6b1a76;
  background-color: white;
  margin-top: 5px;
}

/*Top image styling for the department page*/
.department-top-image {
  padding: 10px;
}

/*subtle border added to the top of the right information on department page*/
.ctitle1 {
  border-top: 1px solid #eee5f7;
  margin-top: 0;
}

/*Styling of image at the top of the degree page*/
#robotgirl {
  width: 100%;
  margin-top: 5px;
}

/*Styling of the image at the top of the department page*/
#cave-image {
  width: 100%;
}

/*Styling of all the images on the department page*/
.department-pictures {
  width: 100%;
}

/*W3 validation button styled, placed at the bottom of all pages*/
.validated {
  text-align: center;
}


/*Mobile view CSS when width hits 420px all of the CSS is swapped to the following*/
@media (max-width:420px) {
  .title-bar h1 {font-size: 15pt; margin-bottom: 0.5em; margin-top: 0.5em; text-align: center; padding-left: 14px; width: 100%;}
  .small-hidden {display: none;}
  .icon {font-size: 30px;}
  .content-head2 {width: 100%; margin: auto !important;}
  .h4 {text-align: center; margin: auto!important;}
  .main-content {width: 100%;}
  .dept-info {width: 50%; padding-left: 0px;}
  ul.sinfoul {padding-left: 25px;}
  h6 {text-align: center;}
  .f2 {width:100%; padding-top: 10px;}
  .ss {border-bottom: 0 !important;}
  .department-information1 {width: 100%; padding: 10px;}
  .department-information2 {width: 100%; padding: 10px;}
  .degree-information1 {width: 100%; padding: 10px;}
  .degree-information2 {width: 100%; padding: 10px;}
  .department-content-info {display: block;}
  .degree-content {display: block;}
  #ctitle {text-align: center; padding: 0;}
  #comments-form {padding-left: 50px;}
  .degree-information3 {width:100%; text-align: left; word-break: break-all;}
  .comments-row {width:100%;}
  #degree-stats {width:100%;}
  .degree-information4 {text-align: left;}
  .index-navigation-li {width: 100%;}
  .title {margin: auto; padding-left: 20px;}
}

/*Tablet view CSS when width hits 760px all of the CSS is swapped to the following*/
@media (max-width:760px) {
  .crest {display: none;}
  .content-head2 {width: 100%; margin: auto!important; text-align: center;}
  .h4 {text-align: center; margin-left: auto !important;}
  .side-nav {font-size: 10pt;}
  .title-bar {font-size: 15pt; margin-bottom: 0.5em; margin-top: 0.5em; text-align: center; padding: 0; width: 100%;}
  .main-wrapper {margin: 0;}
  footer {font-size: 10pt; line-height: 35px;}
}


@media (min-width:420px) {
  .large-hidden {display: none;}  
}

@media only screen and (max-width: 767px) {
  .slideshow { display: none !important; }
}
